/* css variables for colors */
:root {
  --background-color: #eae7dc;
  --text-color-one: #e85a4f;
  --text-color-two: #e98074;
  --border-color: #d8c3a5;
  --list-item-color: #8e8d8a;
}

/* universal settings */
html {
  background-image: url("./Background.jpg");
}

body {
  width: 900px;
  background-color: var(--background-color);
  opacity: 0.95;
  margin: 0 auto;
  padding: 0;
  border: 3px solid var(--border-color);
  font-family: "Andika New Basic", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

p {
  text-indent: 20px;
  text-align: justify;
}

/* Header */
header {
  padding: 15px;
}

header img {
  float: left;
  margin-right: 15px;
  width: 150px;
  border: var(--border-color) 1px solid;
  border-radius: 5px;
}

header h2 {
  font-size: 230%;
}

header h3 {
  font-size: 125%;
  padding-bottom: 15px;
}

/* Navigation operation */
#nav_menu ul {
  list-style-type: none;
  position: relative;
}

#nav_menu ul li {
  float: left;
}

#nav_menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

#nav_menu ul ul li {
  float: none;
  position: relative;
}

#nav_menu ul ul li ul {
  position: absolute;
  left: 100%;
  top: 0;
}

#nav_menu ul li:hover > ul {
  display: block;
}

#nav_menu > ul::after {
  content: "";
  clear: both;
  display: block;
}

/* Navigation formats */

#nav_menu ul {
  margin: 0;
  padding: 0;
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 225px;
  padding: 1.2em 0;
  text-decoration: none;
  background-color: var(--border-color);
  color: var(--text-color-one);
  font-size: 18px;
  font-weight: bold;
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
  background-color: #cccccc;
}

/* Side bar a */
#sideBarA {
  float: left;
  width: auto;
  padding-right: 15px;
}

/* Main article section */
section {
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.image_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image_container figure {
  margin: 0;
}

.image_container figcaption {
  color: var(--text-color-two);
  font-weight: bolder;
}

#image1 {
  background-image: url("./animal2.jpg");
  width: 100px;
  height: 100px;
  background-size: 100px;
  border: 1px solid var(--border-color);
}

#image1:hover {
  background-image: url("./animal2_v2.jpg");
}

#image2 {
  background-image: url("./animal1.jpg");
  width: 100px;
  height: 100px;
  background-size: 100px;
  border: 1px solid var(--border-color);
}

#image2:hover {
  background-image: url("./animal1_v2.jpg");
}

#image3 {
  background-image: url("./animal3.jpg");
  width: 100px;
  height: 100px;
  background-size: 100px;
  border: 1px solid var(--border-color);
}

#image3:hover {
  background-image: url("./animal3_v2.jpg");
}

#image4 {
  background-image: url("./animal4.png");
  width: 100px;
  height: 100px;
  background-size: 100px;
  border: 1px solid var(--border-color);
}

#image4:hover {
  background-image: url("./animal4_v2.png");
}

#image5 {
  background-image: url("./animal5.jpg");
  width: 100px;
  height: 100px;
  background-size: 100px;
  border: 1px solid var(--border-color);
}

#image5:hover {
  background-image: url("./animal5_v2.png");
}

#image6 {
  background-image: url("./animal6.jpg");
  width: 100px;
  height: 100px;
  background-size: 100px;
  border: 1px solid var(--border-color);
}

#image6:hover {
  background-image: url("./animal6_v2.jpg");
}

/* Side bar B */
#sideBarB {
  float: right;
  width: auto;
  padding-right: 15px;
  padding-top: 15px;
}

#sideBarB ul {
  list-style-type: none;
  padding: 0;
}

#sideBarB ul li a {
  text-decoration: none;
  color: var(--list-item-color);
  font-weight: bold;
}

#sideBarB ul li a:hover,
#sideBarB ul li a:focus {
  color: var(--text-color-one);
}

/* Footer */
footer {
  clear: both;
}

footer p {
  text-align: center;
  padding-top: 20px;
}

#image {
  background-image: url("../images/Background.jpg");
  width: 50px;
  height: 50px;
}
