/* css variables for colors */
:root {
  --background-color: #eae7dc;
  --text-color-one: #e85a4f;
  --text-color-two: #e98074;
  --border-color: #d8c3a5;
  --list-item-color: #8e8d8a;
}

form {
  width: 400px;
}

fieldset {
  margin-top: 20px;
  padding: 10px 10px;
  border-color: var(--text-color-two);
}

fieldset:last-child {
  margin-bottom: 20px;
}

legend {
  color: var(--text-color-one);
  font-weight: 300;
}

label {
  width: auto;
  text-align: right;
}

input[type="text"],
input[type="email"] {
  text-align: left;
  margin-left: 1em;
  width: 280px;
  float: right;
}

select {
  width: 100px;
  text-align: left;
  margin-left: 1em;
  float: right;
}

#comment {
  width: 23rem;
  height: 7rem;
}

#submit,
#reset {
  margin: 5px;
  background: linear-gradient(var(--text-color-one), var(--text-color-two));
  border: var(--border-color) 2px solid;
  border-radius: 5px;
  padding: 10px;
  font-family: "Andika New Basic", sans-serif;
  font-size: 18px;
  min-width: 80px;
  width: 120px;
  margin-right: 2em;
  box-shadow: inset 0 0 3px var(--list-item-color);
  font-weight: 300;
}

/* side bar b */
#sideBarB {
  margin-top: 0;
}
